asgiref==3.5.0
beautifulsoup4==4.10.0
boto3==1.22.12
botocore==1.25.12
Django==4.0.3
django-bootstrap5==21.3
django-jazzmin==2.5.0
django-quill-editor==0.1.40
django-storages==1.12.3
django-user-agents==0.4.0
html2text==2020.1.16
jmespath==1.0.0
Pillow==9.1.0
python-dateutil==2.8.2
python-decouple==3.6
s3transfer==0.5.2
six==1.16.0
soupsieve==2.3.2
sqlparse==0.4.2
tzdata==2022.1
ua-parser==0.10.0
urllib3==1.26.9
user-agents==2.2.0