{% extends 'inc/dashboard_base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% bootstrap_javascript %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<div class="px-3 mt-5 mb-3">
    <h5 class="text-secondary">All modules</h5>
    <h1 class="h2">{{ training.name }}</h1>
</div>

{% include 'inc/msgs.inc.html' %}


<div class="container mb-3">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-8 py-3">
            {% if not modules  %}
            <div class="card">
                <div class="card-body text-center d-flex align-items-center justify-content-center"
                    style="height: 300px;">
                    <div>
                        <img src="{% static 'img/notfound.png' %}" style="width: 150px;" alt="">
                        <h4 class="text-secondary display-3 mt-3" style="font-size: 25px;">No module exist in the
                            record</h4>
                    </div>
                </div>
            </div>
            {% endif %}

            {% for single_module in modules %}

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center thumbnail">
                        <a href="{% url 'media' training.id single_module.id  %}"  class="h-100 w-100">
                            <div 
                                style="background-image: url({{ single_module.thumbnail.url }}); 
                                    background-size: cover;
                                    background-repeat:   no-repeat;
                                    background-position: center center; width:100%; height: 100%">

                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h5 class="card-title">Module {{ forloop.counter }} - {{ single_module.name }}</h5>
                                </div>
                                <div class="col-sm-3 d-flex justify-content-end theme-primary-text">
                                    <p style="font-size: 16px" class="mb-0">{{ single_module.get_all_media.count }} lessons</p>
                                    

                                </div>
                            </div>
                            <p class="card-text">{{ single_module.get_short_description }}</p>
                            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="{% url 'media' training.id single_module.id  %}"
                                        class="btn theme-secondary-btn">Open module</a>
                                </div>
                                <div class="col-sm-6 d-flex align-items-center justify-content-end">
                                    <div class="">
                                        <div class="progress mb-1"
                                            style="height: 0.35rem; width: 9rem; border-radius: 0.95rem;">
                                            <div class="progress-bar bg-success"  style="width: {{single_module.progress}}%;"  role="progressbar"
                                                aria-valuenow="{{ single_module.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="py-0 my-0">{{ single_module.progress }}% completed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="col-sm-12 col-md-12 col-xl-4 py-3">


            {% if training %}
            <div class="card">
                <div class="card-header bg-white ">
                    <h4 class="my-2 py-0">{{ training.name }}</h4>
                </div>
                <img src="{{ training.thumbnail.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <!-- <h4 class="card-title">{{ training.name }}</h4> -->
                    <div>
                        <p class="card-text">{{ training.description.html | safe }}</p>
                    </div>
                </div>
            </div>
            {% else %}

            <div class="card">
                <div class="card-body text-center d-flex align-items-center justify-content-center"
                    style="height: 300px;">
                    <div>
                        <img src="{% static 'img/notfound.png' %}" style="width: 150px;" alt="">
                        <h4 class="text-secondary display-3 mt-3" style="font-size: 25px;">No training selected</h4>
                    </div>
                </div>
            </div>





            {% endif %}
        </div>
    </div>



</div>

{% endblock content %}