<div class="modal" id="request-access">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Request access</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h6 class="mb-3">Contact admin</h6>

                <div class="card mb-2">
                    <div class="card-header">
                        <p class="card-text my-0">admin@training.com</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <p class="card-text my-0">+92315246256</p>
                    </div>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>